In [38]:
import tabula

In [41]:
dfs = tabula.read_pdf('./fichier1.pdf', pages='all')

Got stderr: Apr 11, 2025 10:32:12 AM org.apache.pdfbox.pdmodel.graphics.color.PDICCBased ensureDisplayProfile
WARNING: ICC profile is Perceptual, ignoring, treating as Display class
Apr 11, 2025 10:32:13 AM org.apache.pdfbox.pdmodel.graphics.color.PDICCBased ensureDisplayProfile
WARNING: ICC profile is Perceptual, ignoring, treating as Display class
Apr 11, 2025 10:32:14 AM org.apache.pdfbox.pdmodel.graphics.color.PDICCBased ensureDisplayProfile
WARNING: ICC profile is Perceptual, ignoring, treating as Display class
Apr 11, 2025 10:32:14 AM org.apache.pdfbox.pdmodel.graphics.color.PDICCBased ensureDisplayProfile
WARNING: ICC profile is Perceptual, ignoring, treating as Display class
Apr 11, 2025 10:32:15 AM org.apache.pdfbox.pdmodel.graphics.color.PDICCBased ensureDisplayProfile
WARNING: ICC profile is Perceptual, ignoring, treating as Display class
Apr 11, 2025 10:32:15 AM org.apache.pdfbox.pdmodel.graphics.color.PDICCBased ensureDisplayProfile
WARNING: ICC profile is Perceptual, ignoring, treating as Display class

/home/beryl/anaconda3/envs/datascience_exercises/lib/python3.12/site-packages/tabula/io.py:1054: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[c] = pd.to_numeric(df[c], errors="ignore")

In [42]:
df=dfs[0]
df

,Unnamed: 0,Unnamed: 1,Control,Digestarom® P.E.P.,Difference
0,Final BW per 1000 birds,kg,2135.0,2210.0,75.0
1,Live broiler sales price,€/kg,1.5,1.5,NaN
2,Revenue per 1000 birds,€,3202.5,3315.0,112.5
3,Feed intake per 1000 birds,kg,4006.6,4062.1,55.5
4,Cost of additive per 1000 birds,€,NaN,12.7,NaN
5,Total feed cost per 1000 birds*,€,1561.8,1596.1,34.3
6,Contribution margin per 1000 birds,NaN,NaN,NaN,NaN
7,(=Revenue-feed cost),€,1640.7,1718.9,78.2
8,ROI per 1000 birds,NaN,NaN,6.2,NaN

In [36]:
df.loc[7, 'Unnamed: 0'] = df.loc[6, 'Unnamed: 0'] + df.loc[7, 'Unnamed: 0']
df.drop(index=6, inplace=True)
df

,Unnamed: 0,Unnamed: 1,Control,Digestarom® P.E.P.,Difference
0,Final BW per 1000 birds,kg,2135.0,2210.0,75.0
1,Live broiler sales price,€/kg,1.5,1.5,NaN
2,Revenue per 1000 birds,€,3202.5,3315.0,112.5
3,Feed intake per 1000 birds,kg,4006.6,4062.1,55.5
4,Cost of additive per 1000 birds,€,NaN,12.7,NaN
5,Total feed cost per 1000 birds*,€,1561.8,1596.1,34.3
7,Contribution margin per 1000 birds(=Revenue-fe...,€,1640.7,1718.9,78.2
8,ROI per 1000 birds,NaN,NaN,6.2,NaN

In [37]:
df.rename(
    columns={
        'Unnamed: 0': 'Unnamed',
        'Unnamed: 1': 'Unit'
}, inplace=True)
df

,Unnamed,Unit,Control,Digestarom® P.E.P.,Difference
0,Final BW per 1000 birds,kg,2135.0,2210.0,75.0
1,Live broiler sales price,€/kg,1.5,1.5,NaN
2,Revenue per 1000 birds,€,3202.5,3315.0,112.5
3,Feed intake per 1000 birds,kg,4006.6,4062.1,55.5
4,Cost of additive per 1000 birds,€,NaN,12.7,NaN
5,Total feed cost per 1000 birds*,€,1561.8,1596.1,34.3
7,Contribution margin per 1000 birds(=Revenue-fe...,€,1640.7,1718.9,78.2
8,ROI per 1000 birds,NaN,NaN,6.2,NaN